main {
  margin: 0px;
  font-family: Verdana, sans-serif;
  font-size: 24pt;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #606060;
  height: 100vh;
}

p {
  color: white;
  font-weight: bold;
  text-align: center;
}